body{
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
    letter-spacing: 0;
    width: 100%;       
  }
  
header{
    background-color: rgb(102, 142, 104);
    font-family: Yu Gothic;
    /*height: 3.25%;*/
  }

.navbar-brand-font_header{
    color: rgb(255, 255, 255);
    font-family: Georgia;
    font-size: 44px;
    line-height: 50px;
    text-decoration: none;       
  }
  
.nav-link_header{  
    color: rgb(255, 255, 255);
    font-family: Yu Gothic;
    font-size: 18px;
    font-weight: 500;
    line-height: 29px;    
    text-decoration: none;     
  } 

.main_h1{
    background-image: url(../image/Coffee.png);
    background-size: cover;
    background-position: top center;
    display: flex;
    align-items: center;
    height: 100vh;      
  }
    
h1{
    color: rgb(255, 255, 255);
    font-size: 110px;
    line-height: 177px;    
    text-align: center;           
}

h2{
  font-size: 40px;
  line-height: 35px;
  }

span{
  font-family: Yu Gothic;
  font-weight: 500;
  font-size: 20px;
  line-height: 35px;
  /*text-shadow: 2px 2px 2px 0 rgba(0, 0, 0, 0.7);*/
}

p{
  color: rgb(0, 0, 0);
  font-family: Georgia;
  font-size: 26px;  
  line-height: 30px; 
}

.border-custom_main_menu{
  border: 9px solid #81613B;
}

.button-custom{
  background-color: rgb(102, 142, 104);
  color: rgb(255, 255, 255);
  font-family: Yu Gothic;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-align: center;
  border: 1px solid rgb(102, 142, 104);
}

.main_about{
  background-image: url(../image/Cafe.png);
  background-size: cover;
  background-position: top center;  
}

h3{
  font-size: 40px;
  line-height: 35px;
  letter-spacing: 0;
  text-align: center;
  color: rgb(255, 255, 255);
  padding-top: 138px;
  padding-bottom: 32px;  
}
  
.main_news{
  /*height: 16.54%;*/
  background: rgba(129, 97, 59, 0.2);
}

h6{
  color: rgb(0, 0, 0);
  font-family: Yu Gothic;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  letter-spacing: 0;
  text-align: left;
  display: flex;
  gap: 45px;
  align-items: center;
  margin-bottom: 0;
}

footer{
  /*height: 7.33%;*/
  position: relative;
  
}

.p_footer{
  color: rgb(255, 255, 255);
  font-family: Yu Gothic;
  font-size: 16px;
  font-weight: 500;
  line-height: 25px;  
}

.btn_footer{
  background: transparent;
  border: none;
  color: rgb(102, 142, 104);
  font-size: 32px;  
  transform: rotate(270deg);
  position: fixed;
  z-index: 1;
  text-align: center;
  bottom: 20px;
  right: 21px;
    
}

.a_color-btn_footer{
  color: inherit;
  text-decoration: none;
}

@media screen and (max-width:768px){

.main_h1{
  height: 21.18vh;
}

/*.main_about{
  
}*/

.row{
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 30px;
}

img{
  max-width: 100%;
}

h1{
  font-size: 50px;
}

h3{
  padding-top: 34px;
}

.p_footer{
  text-align: center !important;   
}

.bottom_footer{
  width: 100%;
}

.col-4, .col-12, .col-6{
  width: 100%;
}

}